/* You can add global styles to this file, and also import other style files */

/* ------------------------------------------------------------------------------
    General application wide styles
------------------------------------------------------------------------------ */
body {
  background: #2b3e50;
  color: #ffffff;
  font-family: 'Lato', helvetica, sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: papayawhip;
}


/* ------------------------------------------------------------------------------
   Helper classes for reusable styles
------------------------------------------------------------------------------ */
.btn.primary{
  text-decoration: none;
  color: white;
  background: slategray;
  padding: 10px 20px;
  display: block;
  transition: background 0.5s;
}

.btn.primary:hover {
  transition: background 0.2s;
  background: #1c2f2f;
}

/* ------------------------------------------------------------------------------
   Styling for app components
------------------------------------------------------------------------------ */

.agm-info-window-content {
  color: slategray;
}
