.business-card {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 4px rgba(1, 1, 1, 0.3);
  background: ghostwhite;
  color: #555555;
}

.business-image-container {
  width: 30%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.business-card-content {
  width: 60%;
  padding: 20px;
}

.card-label {
  font-weight: bold;
}

.card-title {
  font-size: 2rem;
  margin: 0;
}

img {
  max-width: 100%;
}
