.business-card {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 4px rgba(1, 1, 1, 0.3);
  background: ghostwhite;
  color: #555555;
}

.business-image-container {
  width: 300px;
}

.business-card-content {
  width: 400px;
}

.card-title {
  font-size: 2rem;
}

img {
  max-width: 100%;
}
